# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next
/out

# production
/build
/dist


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.local
.env.*.local

# OS / editors
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# sanity
/.sanity
/sanity/.cache
/sanity/node_modules

# misc
*.log
.vercel

